html {
  background: linear-gradient(to bottom, rgb(120, 23, 84), rgb(51, 51, 51));
  font-family: Verdana, Geneva, sans-serif;
}

body {
  margin: 0px auto;
  overflow: hidden; 
}

#logoImg {
  display: block;
  margin: 0px auto;
  height: 100vh;
}

div#countdown {
  position: fixed;
  
  width: 800px;
  bottom: 5%;
  text-align: center;
  /* height: 1.5em;  */
  border: red dotted 1px;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;

}

div#countdown div{
    display: inline;
    text-align: center;
}

